:root {
  --logo-green: #185c4d;
  --logo-pink: #eedbcd;
  --pink-trans: rgba(238, 219, 205, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: none;
}

body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  color: var(--logo-green);
  text-decoration: none;
}

a:hover {
  background-color: var(--logo-green);
}

#header {
  background-color: var(--logo-pink);
  position: fixed;
  top: 0px;
  height: 114px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 10px solid var(--logo-green);
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: center;
  margin-left: 20px;
}

nav {
  font-weight: 400;
  display: block;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav > li {
  list-style: none;
}

#container {
  border: 1px solid black;
  margin-top: 104px;
  width: 100%;
  justify-content: center;
  background-image: url(/assets/closeup.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero {
  border-bottom: 10px solid var(--logo-green);
  margin: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--pink-trans);
}

#hero > p {
  margin-bottom: 20px;
}

#email {
  width: 200px;
  text-align: center;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.btn:hover {
  border: 3px solid white;
  background-color: var(--logo-green);
  color: white;
}
